@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  font-family: 'Courier New', 'Montserrat', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.triangle {
	width: 0;
	height: 0;
	border-right: 12px solid  transparent; 
	border-left: 12px solid  transparent; 
	border-bottom: 20.78461px solid #4285F5; /* (border-left-width 50px + border-right-width 50px) * 0.8660254 = 86.60254px  border-bottom-width = EquilateralTriangle height */
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #EB4335; 
}

.square {
  width: 24px;
  height: 24px;
  background-color: #FBBC05;
}

.nav-mobile-icons {
  height: 38px;
  width: 38px;
  color: white;
}

.gold-filter {
  filter: invert(74%) sepia(77%) saturate(2178%) hue-rotate(1deg) brightness(105%) contrast(97%);
}

.white-filter {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(27deg) brightness(113%) contrast(101%);
}

.arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.arrow-down {
  position: absolute;
  top: 30px;
  width: 60px;
  height: 6px;
  background-color: #3ACA60;
  border-radius: 6px;
  transform: rotate(90deg);
}

.arrow-down::after, .arrow-down::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 6px;
  right: -2px;
  background-color: #3ACA60;
  border-radius: 6px;
}

.arrow-down::after {
  top: 12px;
  transform: rotate(-45deg);
}

.arrow-down::before {
  top: -12px;
  transform: rotate(45deg);
}

.link-underline,
.link-underline-gold {
  background: linear-gradient(0deg, #35A853, #35A853) no-repeat left bottom / 0 2px;
  transition: background-size 350ms;
  padding-bottom: 3px;
}

.link-underline-gold {
  background: linear-gradient(0deg, #FBBC05, #FBBC05) no-repeat left bottom / 0 2px;
}

.link-underline:where(:hover, :focus-visible),
.link-underline-gold:where(:hover, :focus-visible) {
  background-size: 100% 2px;
  background-position-x: right;
}

.display-linebreak {
  white-space: pre-line;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-button:single-button {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 15px;
  background-color: #414141;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575656;
}

::-webkit-scrollbar-thumb:active {
  background-color: #6b6b6b;
}

::-webkit-scrollbar-button:single-button {
  height: 3px;
}
