@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  padding: 20px;
  background-color: #222222;
  font-family: 'Courier New', 'Montserrat', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.triangle {
	width: 0;
	height: 0;
	border-right: 8px solid  transparent; 
	border-left: 8px solid  transparent; 
	border-bottom: 13.85641px solid #4285F5; /* (border-left-width 50px + border-right-width 50px) * 0.8660254 = 86.60254px  border-bottom-width = EquilateralTriangle height */
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #EB4335; 
}

.square {
  width: 16px;
  height: 16px;
  background-color: #FBBC05;
}

.nav-mobile-icons {
  height: 38px;
  width: 38px;
  color: white;
}

.blog-post-triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: white transparent transparent transparent;
  margin-top: 190px;
  margin-left: 40px;
}


.gold-filter {
  filter: invert(74%) sepia(77%) saturate(2178%) hue-rotate(1deg) brightness(105%) contrast(97%);
}

.white-filter {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(27deg) brightness(113%) contrast(101%);
}

.project-container {
  width: 300px;
  height: 414px;
  position: relative;
}

.project {
  width: stretch;
  height: 300px;
  border: 2px solid #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 56px;
  cursor: pointer;
}

.project-title-bar {
  width: stretch;
  height: 58px;
  border: 2px solid white;
  border-top: none;
  background-color: white;
  color: lightgray;
  position: absolute;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  cursor: pointer;
}

.project-icons {
  width: 154px;
  height: 58px;
  border: 2px solid white;
  border-bottom: none;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
}

.clear {
  content: "x";
  color: white;
  height: 16px;
  width: 16px;
}

.nav-icons {
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  height: 40px;
  width: 40px;
}

.mail-icon {
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  height: 40px;
  width: 40px;
}

.project-mobile {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.project-mobile-top {
  padding: 20px;
  width: stretch;
  height: 50%;
  background-color: red;
}

.project-mobile-bottom {
  padding: 20px;
  height: 50%;
  width: stretch;
  background-color: yellow;
}

.arrow-icon {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  justify-content: center;
}

.arrow-up {
  position: absolute;
  top: 30px;
  width: 44px;
  height: 6.5px;
  background-color: #3ACA60;
  border-radius: 6px;
  transform: rotate(90deg);
}

.arrow-up::after, 
.arrow-up::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 6.5px;
  right: 26px;
  background-color: #3ACA60;
  border-radius: 6px;
}

.arrow-up::after {
  top: 8px;
  transform: rotate(45deg);
}

.arrow-up::before {
  top: -8px;
  transform: rotate(-45deg);
}

.arrow-down {
  position: absolute;
  top: 24px;
  width: 44px;
  height: 6.5px;
  background-color: #3ACA60;
  border-radius: 6px;
  transform: rotate(90deg);
}

.arrow-down::after, 
.arrow-down::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 6.5px;
  right: -12px;
  background-color: #3ACA60;
  border-radius: 6px;
}

.arrow-down::after {
  top: 8px;
  transform: rotate(-45deg);
}

.arrow-down::before {
  top: -8px;
  transform: rotate(45deg);
}

.link-underline,
.link-underline-gold {
  background: linear-gradient(0deg, #35A853, #35A853) no-repeat left bottom / 0 2px;
  transition: background-size 350ms;
  padding-bottom: 3px;
}

.link-underline-gold {
  background: linear-gradient(0deg, #FBBC05, #FBBC05) no-repeat left bottom / 0 2px;
}

.link-underline:where(:hover, :focus-visible),
.link-underline-gold:where(:hover, :focus-visible) {
  background-size: 100% 2px;
  background-position-x: right;
}

.display-linebreak {
  white-space: pre-line;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-button:single-button {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 15px;
  background-color: #414141;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575656;
}

::-webkit-scrollbar-thumb:active {
  background-color: #6b6b6b;
}

::-webkit-scrollbar-button:single-button {
  height: 3px;
}
